div{
    display: block;
    transition: width 1s, height 1s, color 1s;
    margin-top: 100px;
    width: 50px;
    height: 20px;
    color:rgba(0, 0, 0, 0);
    background-color: black;
}
div:hover{
    width: 100px;
    height: 200px;
    color: azure;
}